
//  ------------------------------------------Slider----------------------------------------------
// #section0{
#section_general{
    max-width: 1920px;
    width: 100%;
    height: $height100;
    background-image: url(../img/main_hero_homepage_desktop1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    position: relative;
}
.menu__items{
  &_linke{
    color: whitesmoke;
    font-family: $genereal_font;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    &:hover{
      color: rgb(245,245,245);
      text-shadow: 0 -1px rgba(0,0,0,.1);
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
    @-webkit-keyframes pulsate {
      50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
     }
     @keyframes pulsate {
      50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
     }
     
    }
    
    
  }
}
.nav_Sing{
  text-transform: capitalize;
}

.general_name_cars{
    display: flex;
    justify-content: space-around;
    // margin-top: 10rem;
}
.sub_name_cars{
    color: azure;
    font-family: $genereal_font;
    text-transform: capitalize;
    letter-spacing: 1px;
}


.remGen{

    margin-top: 20rem;
}
//============================section2============================================================
#section2{
    max-width: 1920px;
    width: 100%;
    height: $height100;
    background-image: url(../img/homepage_energy_hero_desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    position: relative;
}
.Title_article_S2{
  text-align: center;
  &_big{
  margin-top: 0px;
  text-transform: uppercase;
  font-family: $genereal_font;
  letter-spacing: 1rem;
  font-weight: 600;
  font-size: 3rem;
  color: white;
  }
}
.s2btn{
    display: flex;
    width: 240px;
    height: 50px;
    margin-top: 3rem;
    text-align: center;
    margin-left: 5rem;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50px;
    
    &_title{

      font-family: $genereal_font;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1.3rem;
    }
    &:hover{
        background-color: #9C27B0;
        color: whitesmoke;
        border: white;
    }
}
.arrow_S2{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5%;
  left: 50%;
}
// =======================================================================================
.border {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 100px;
    height: 30px;
    border-radius: 75px;
    font-family: $genereal_font;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
    color: white; 
    z-index:8;
  }
  // =================================================================Animation_for_name_cars================
  // .border:hover:before, .border:hover:after {
  //   display: block;
  //   content: '';
  //   position: absolute;
  //   width: 100px;
  //   height: 30px;
  //   background:#FFEB3B;
  //   border-radius: 75px;
  //   z-index: -3;
  //   animation: 1s clockwise infinite; 
  // }
  
  // .border:hover:after {
  //   background:  white;
  //   animation:  counterclockwise infinite;
  //   z-index: -2; 
  // }
  
  // .border:hover {
  //   box-shadow: 0 5px 35px 0px #9C27B0;
  //   background:  #FDA8CF;
  //   color: black;
  //   z-index:1;
  // }
  
  // @keyframes clockwise {
  //   0% {
  //     top: -5px;
  //     left: 0; }
  //   12% {
  //     top: -2px;
  //     left: 2px; }
  //   25% {
  //     top: 0;
  //     left: 5px; }
  //   37% {
  //     top: 2px;
  //     left: 2px; }
  //   50% {
  //     top: 5px;
  //     left: 0; }
  //   62% {
  //     top: 2px;
  //     left: -2px; }
  //   75% {
  //     top: 0;
  //     left: -5px; }
  //   87% {
  //     top: -2px;
  //     left: -2px; }
  //   100% {
  //     top: -5px;
  //     left: 0; } 
  //   }
  
  // @keyframes counterclockwise {
  //   0% {
  //     top: -5px;
  //     right: 0; }
  //   12% {
  //     top: -2px;
  //     right: 2px; }
  //   25% {
  //     top: 0;
  //     right: 5px; }
  //   37% {
  //     top: 2px;
  //     right: 2px; }
  //   50% {
  //     top: 5px;
  //     right: 0; }
  //   62% {
  //     top: 2px;
  //     right: -2px; }
  //   75% {
  //     top: 0;
  //     right: -5px; }
  //   87% {
  //     top: -2px;
  //     right: -2px; }
  //   100% {
  //     top: -5px;
  //     right: 0; } 
  //   }
      // =================================================================Animation_for_name_cars================
// ===============================================Наведение=====================================
#section3{
  max-width: 1920px;
  width: auto;
  height: auto;
}
.rel{
  position: relative;
}
.content__S3{
  position: absolute;
    top: -650px;
    right: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titleS3{
  text-align: center;
  text-transform: uppercase;
  /* display: inline-block; */
  color: peru;
  font-size: 4rem;
  display: flex;
}

// ===========================End section3=======================
//==============================Section4=========================
#section_4{
  display: flex;
  background-image: url(../img/blue-hero-desktop.jpg);
  max-width:1920px;
  width: 100%;
  height: $height100;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.flex_s4{
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-around;
  text-align: center;
  margin-top: 10rem;
  
}
.title{

  margin-bottom: 1rem;
  color: white;
  &_small_s4{
    font-family: $genereal_font;
    letter-spacing: 4px;
    font-size: 1.25rem;
    text-transform: capitalize;
  }
  &_Big_s4{
    font-family: $genereal_font;
    letter-spacing: 4px;
    font-size: 2.5rem;
    text-transform: capitalize;
  }
}
.titleS3_btn{
  display: flex;
  width: 240px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: $genereal_font;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.3rem;
  border: .187rem solid whitesmoke;
  background: transparent;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  cursor: pointer;
  &:hover{
    color: black;
    background-color: whitesmoke;
  }
}
.arrow_S4{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 3%;
  top: -130px;
}
//========================================Order form======================================
.ba-menu-block{
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100vh;
  background-color: black;
  transform: translateY(0);
  transition: transform .4s;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
#menuOpen:checked ~ .ba-menu-block{
  transform: translateY(100%);
}


//=========================================End form=======================================
// =================================================End section4============================
//================================================footer====================================
#footer{
  width: 100vw;
  height: auto;
  background-color: black;
}
.footer{
  background-color: black;
  margin-top: -5rem;
  font-family: $genereal_font;
  &_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 0px;
  }
  &_links{
    margin-top: 1rem;
    :first-child{
      margin-left: 1rem;
    }
    :last-child{
      margin-right: 1rem;
    }
  }
  &_avtor{
  font-size: .8rem;
  color: $color_avtor;
  }
  &_title{
  font-size: 1rem;
  color: $color_tesla;
  }
  &_img{
  width: 80px;
  }
}
//===================================================================End footer=========================================
.dots_nav{
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 50%;
  &__pages{
    color: $color_tesla;
    margin-bottom: 1rem;
  }
  &_link{
    font-family: $genereal_font;
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: bold;
    &:hover{
      color: rgb(245,245,245);
      text-shadow: 0 -1px rgba(0,0,0,.1);
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
    @-webkit-keyframes pulsate {
      50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
     }
     @keyframes pulsate {
      50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
     }
     
    }
  }
}
/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(0px) translateZ(0);
  transform: perspective(0) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  // top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background: goldenrod;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid goldenrod;
  border-radius: 10px;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
//========================burgermenu===============
.burger-menu_button{
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 30;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: transparent;
}
.burger-menu_button:hover .burger-menu_lines{
  filter: brightness(0.7);
}
.burger-menu_lines,
.burger-menu_lines::after,
.burger-menu_lines::before{
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: white;
  }
.burger-menu_lines{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu_lines{

  &:before{
    content: " ";
    top: -12px;
  }
  &:after{
    content: " ";
    top: 12px;
  }
}
.burger-menu_active .burger-menu_lines{
  background-color: transparent;
}
.burger-menu_active .burger-menu_lines:before{
  top: 0;
  transform: rotate(45deg);
}
.burger-menu_active .burger-menu_lines:after{
  top: 0;
  transform: rotate(-45deg);
}

.burger_menu__nav {
  padding-top: 80px;
  position: fixed;
  z-index: 20;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: gray;
  overflow-y: auto;
  right: -100%;
  top: 0;
}
.burger-menu_active .burger_menu__nav{
  right: 0;
}
.burger_menu__link {
  padding: 30px;
  font-family: $genereal_font;
  font-size: 32px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
}
.burger_menu__overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.burger-menu_active .burger_menu__overlay{
  display: block;
}