.scroll_bar{

    scrollbar-face-color: purple;
		scrollbar-highlight-color: #000000;
		scrollbar-shadow-color: #000000;
		scrollbar-3dlight-color: #000000;
		scrollbar-arrow-color: #000000;
		scrollbar-track-color: #000000;
		scrollbar-darkshadow-color: #000000;
}
//  ------------------------------------------Slider----------------------------------------------
// #section0{
#section_general{
    max-width: 1920px;
    width: 100%;
    height: $height120;
    background-image: url(../img/main_hero_homepage_desktop1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: scaleZ(0.1);
}
.menu__items{
  &_linke{
    color: whitesmoke;
    font-family: "gotham_mediumregular", "sans-serif";
    letter-spacing: 0.4rem;
    
    &:hover{
      color: rgb(245,245,245);
      text-shadow: 0 -1px rgba(0,0,0,.1);
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
    @-webkit-keyframes pulsate {
      50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
     }
     @keyframes pulsate {
      50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
     }
     
    }
  }
}


.general_name_cars{
    display: flex;
    justify-content: space-around;
    margin-top: 15rem;
}
.sub_name_cars{
    color: azure;
    font-family: 'Roboto', "sans-serif";
    text-transform: capitalize;
    letter-spacing: 1px;
}


.remGen{

    margin-top: 25rem;
}
// .hvr-sweep-to-right {
//     display: inline-block;
//     vertical-align: middle;
//     -webkit-transform: perspective(1px) translateZ(0);
//     transform: perspective(1px) translateZ(0);
//     box-shadow: 0 0 1px rgba(0, 0, 0, 0);
//     position: relative;
//     -webkit-transition-property: color;
//     transition-property: color;
//     -webkit-transition-duration: 0.3s;
//     transition-duration: 0.3s;
//   }
//   &:before {
//     content: "";
//     position: absolute;
//     z-index: -1;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background: goldenrod;
//     -webkit-transform: scaleX(0);
//     transform: scaleX(0);
//     -webkit-transform-origin: 0 50%;
//     transform-origin: 0 50%;
//     -webkit-transition-property: transform;
//     transition-property: transform;
//     -webkit-transition-duration: 0.3s;
//     transition-duration: 0.3s;
//     -webkit-transition-timing-function: ease-out;
//     transition-timing-function: ease-out;
//   }
//   &:hover, :focus, :active {
//     color: white;
//   }
//   &:hover:before, :focus:before, :active:before {
//     -webkit-transform: scaleX(1);
//     transform: scaleX(1);
//   }
  
// ==================================================================================
#section2{
    max-width: 1920px;
    width: 100%;
    height: $height120;
    background-image: url(../img/homepage_energy_hero_desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.Title_article_S2{
        text-align: center;

    &_big{

        text-transform: uppercase;

        font-family: 'Google Sans', "sans-serif";
        
        letter-spacing: 1rem;

        font-weight: 600;

        font-size: 3rem;
    }
    &_little{

        font-family: 'Google Sans', "sans-serif";
        font-family: 'Google Sans', "sans-serif";
        font-size: 1rem;
        text-align: justify;
        // background-color: whitesmoke;
        // opacity: .7;
    }
}
.for_title{
    max-width: 400px;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
    opacity: .8;
    border: 5px solid whitesmoke;
}
.s2btn{
    display: flex;
    width: 240px;
    height: 50px;
    background-color: white;
    margin-top: 3rem;
    text-align: center;
    margin-left: 5rem;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50px;
    &_title{

        font-family: 'Roboto';
        font-weight: 500;
        text-transform: capitalize;
        font-size: 1.3rem;
    }
    &:hover{
        background-color: #9C27B0;
        color: whitesmoke;
        border: white;
    }
}
// =======================================================================================
.border {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 100px;
    height: 30px;
    border-radius: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
    color: white; 
    z-index:8;
  }
  
  .border:hover:before, .border:hover:after {
    display: block;
    content: '';
    position: absolute;
    width: 100px;
    height: 30px;
    background:#FFEB3B;
    border-radius: 75px;
    z-index: -3;
    animation: 1s clockwise infinite; 
  }
  
  .border:hover:after {
    background:  white;
    animation:  counterclockwise infinite;
    z-index: -2; 
  }
  
  .border:hover {
    box-shadow: 0 5px 35px 0px #9C27B0;
    background:  #FDA8CF;
    color: black;
    z-index:1;
  }
  
  @keyframes clockwise {
    0% {
      top: -5px;
      left: 0; }
    12% {
      top: -2px;
      left: 2px; }
    25% {
      top: 0;
      left: 5px; }
    37% {
      top: 2px;
      left: 2px; }
    50% {
      top: 5px;
      left: 0; }
    62% {
      top: 2px;
      left: -2px; }
    75% {
      top: 0;
      left: -5px; }
    87% {
      top: -2px;
      left: -2px; }
    100% {
      top: -5px;
      left: 0; } 
    }
  
  @keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0; }
    12% {
      top: -2px;
      right: 2px; }
    25% {
      top: 0;
      right: 5px; }
    37% {
      top: 2px;
      right: 2px; }
    50% {
      top: 5px;
      right: 0; }
    62% {
      top: 2px;
      right: -2px; }
    75% {
      top: 0;
      right: -5px; }
    87% {
      top: -2px;
      right: -2px; }
    100% {
      top: -5px;
      right: 0; } 
    }
    
// ===============================================Наведение=====================================
#section3{
  max-width: 1920px;
  height: 100%;
}
.rel{
  position: relative;
}
.content__S3{
  position: absolute;
    top: -650px;
    right: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titleS3{
  text-align: center;
  text-transform: uppercase;
  /* display: inline-block; */
  color: peru;
  font-size: 4rem;
  display: flex;
}
.titleS3_btn{

    display: flex;
    width: 240px;
    height: 50px;
    border-radius: 50px;
    margin-top: 3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    // border: 2px solid purple;
    font-family: "gothamBook", "sans-serif";
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1.3rem;
  // &:hover{
  //     background-color: peru;
  //     color: whitesmoke;
  //     border: white;
  // }
}


// ===========================End section3=======================


.dots_nav{
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 50%;
  &__pages{
    color: white;
    margin-bottom: 1rem;
  }
  &_link{
    font-family: "gothamBook", "sans-serif";
    color: whitesmoke;
    font-size: 1rem;
  }
}
.rectangle-in {
  display: flex;
  width: 240px;
  height: 50px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  border: none;
  background:peru;
  -webkit-transition-property: peru;
  transition-property: peru;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  
}
.rectangle-in:before {
  content: "";
  position: absolute;
  display: flex;
  width: 241px;
  height: 50px;
  border-radius: 50px;
  border: none;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:white;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.rectangle-in:hover, .rectangle-in:focus, .rectangle-in:active {
  color: white;
}
.rectangle-in:hover:before, .rectangle-in:focus:before, .rectangle-in:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}