// variables
$container: 1920px;
$height100: 100vh;
$height120: 120vh;
$container414: 414px;
$gap: 15px;
$col: 12;
$colWidth: 100% / $col;
$title_News: whitesmoke;

$primaryColor: #303841;
$secondaryColor: #4e4e4e;
$yellow: #ffc12d;
$colorForText: black;

$btnBorderColor: $primaryColor;


*{
    box-sizing: border-box
}
.adapvite_container{
    max-width: 1920px;
    width: 100%;
    height: 100vh;
}
.container{
    max-width: $container;
    width: 100%;
    margin: 0 auto;
    padding: 0 $gap;
    // background-color: $yellow;

}

/* Ba-grid  */
.ba-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gap;
    margin-right: -$gap;
}

.ba-row + .ba-row{
    margin-top: 1rem;
}

[class^='ba-col']{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

@for $i from 1 through $col {
    .ba-col-#{$i}{
        width: $colWidth * $i;
    }
}
@media screen and (max-width: 414px){
    .container{
        max-width: $container414;
        width: 100%;
        margin: 0 auto;
        padding: 0 $gap;
        // background-color: $yellow;
    
    }
    .title__inform_gen{
        display: none;
    }
    #section_general{
        max-width: 414px;
        width: 100%;
        height: 75vh;
        background-image: url(../img/main_hero_homepage_desktop414.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
}
@media screen and (min-width: 768px){
    .ba-col-sm-12{
        width: 100%;
    }
    .ba-col-sm-11{
        width: 91.66%;
    }
    .ba-col-sm-10{
        width: 83.3%;
    }
    .ba-col-sm-9{
        width: 74.97%;
    }
    .ba-col-sm-8{
        width: 66.62%;
    }
    .ba-col-sm-7{
        width: 58.3%;
    }
    .ba-col-sm-6 {
        width: 50%;
    }
    .ba-col-sm-5 {
        width: 41.65%;
    }
    .ba-col-sm-4 {
        width: 33.3%;
    }
    .ba-col-sm-3 {
        width: 24.98%;
    }
    .ba-col-sm-2 {
        width: 16.66%;
    }
    .ba-col-sm-1 {
        width: 8.33%;
    }

}

@media screen and (min-width: 991px){
    .ba-col-md-12{
        width: 100%;
    }
    .ba-col-md-11{
        width: 91.66%;
    }
    .ba-col-md-10{
        width: 83.3%;
    }
    .ba-col-md-9{
        width: 74.97%;
    }
    .ba-col-md-8{
        width: 66.62%;
    }
    .ba-col-md-7{
        width: 58.3%;
    }
    .ba-col-md-6 {
        width: 50%;
    }
    .ba-col-md-5 {
        width: 41.65%;
    }
    .ba-col-md-4 {
        width: 33.3%;
    }
    .ba-col-md-3 {
        width: 24.98%;
    }
    .ba-col-md-2 {
        width: 16.66%;
    }
    .ba-col-md-1 {
        width: 8.33%;
    }

    .hidden-md {
        display: none !important;
    }
}

@media screen and (max-width: 991px) {
    #section_general{
        max-width: 991px;
        width: 100%;
        height: 100vh;
        background-image: url(../img/main_hero_homepage_desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        transform: scaleZ(0.1);
    }
    .hidden-sm {
        display: none !important;
    }
}

@media screen and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}
@media screen and (max-width: 1280px){
    a{
        color: greenyellow;
    }
    #section_general{
        max-width: 1280px;
        width: 100%;
        height: $height100;
        background-image: url(../img/main_hero_homepage_desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media screen and (max-width: 1337px){
    a{
        color:purple;
    }
    #section_general{
        max-width: 1337px;
        width: 100%;
        height: $height100;
        background-image: url(../img/hero1337px.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media screen and (max-width: 1366px){
    a{
        color:red;
    }
    #section_general{
        max-width: 1366px;
        width: 100%;
        height: $height100;
        background-image: url(../img/main_hero_homepage_desktop1366px.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media screen and (max-width: 1920px){
    a{
        color:peru;
    }
    #section_general{
        max-width: 1920px;
        width: 100%;
        height: $height100;
        background-image: url(../img/main_hero_homepage_desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .general_name_cars {
        display: flex;
        justify-content: space-around;
        margin-top: 20rem;
    }
    .remGen{
        margin-top: 30rem;
    }
}
@media screen and (max-width: 2080px){
    a{
        color:purple;
    }
    #section_general{
        max-width: 2080px;
        width: 100%;
        height: $height100;
        background-image: url(../img/main_hero_homepage_desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .general_name_cars {
        display: flex;
        justify-content: space-around;
        margin-top: 20rem;
    }
    .remGen{
        margin-top: 30rem;
    }
}











// mixins
@mixin buttonHover {
    background-color: pink;
    border-color: darken($btnBorderColor, 15%)

}




/* ba-common */

.ba-text-center{
    text-align: center;
}

.ba-text-left{
    text-align: left;
}
.ba-text-right{
    text-align: right;
}
.ba-text-justify{
    text-align: justify;
}