*{
	// font-family: 'Josefin Sans', "sans-serif";
	box-sizing: border-box;
}
span{
	font-family: 'Google Sans', "sans-serif";
}
body {
	font-family: 'Open Sans', "sans-serif";
}
img{
	max-width: 100%;
	height: 100%;
	display:block;
	}
video{
	max-width: 100%;
	height: 100%;
	display: block;
}
.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	left: -999999px;
}
.box {
    // background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 100%;
}
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.containerksi{
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.rem{
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.white{
	color: white;
}
// .container_fix_size{
// 	max-width: 354px;
// 	max-height: 555px;
// 	width: 100%;
// 	height: 100%;
// }
