* {
  box-sizing: border-box; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

/* Ba-grid  */
.ba-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ba-row + .ba-row {
  margin-top: 1rem; }

[class^='ba-col'] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.ba-col-1 {
  width: 8.33333%; }

.ba-col-2 {
  width: 16.66667%; }

.ba-col-3 {
  width: 25%; }

.ba-col-4 {
  width: 33.33333%; }

.ba-col-5 {
  width: 41.66667%; }

.ba-col-6 {
  width: 50%; }

.ba-col-7 {
  width: 58.33333%; }

.ba-col-8 {
  width: 66.66667%; }

.ba-col-9 {
  width: 75%; }

.ba-col-10 {
  width: 83.33333%; }

.ba-col-11 {
  width: 91.66667%; }

.ba-col-12 {
  width: 100%; }

/* ba-common */
.ba-text-center {
  text-align: center; }

.ba-text-left {
  text-align: left; }

.ba-text-right {
  text-align: right; }

.ba-text-justify {
  text-align: justify; }

.ba-menu {
  display: flex;
  align-items: center;
  list-style: none; }

.ba-menu__link {
  color: inherit;
  text-decoration: none; }

.btn {
  background: pink;
  min-width: 100px;
  padding: 0 1em; }
  .btn:hover {
    background-color: pink;
    border-color: #ff748c; }
