* {
  box-sizing: border-box; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

/* Ba-grid  */
.ba-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ba-row + .ba-row {
  margin-top: 1rem; }

[class^='ba-col'] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.ba-col-1 {
  width: 8.33333%; }

.ba-col-2 {
  width: 16.66667%; }

.ba-col-3 {
  width: 25%; }

.ba-col-4 {
  width: 33.33333%; }

.ba-col-5 {
  width: 41.66667%; }

.ba-col-6 {
  width: 50%; }

.ba-col-7 {
  width: 58.33333%; }

.ba-col-8 {
  width: 66.66667%; }

.ba-col-9 {
  width: 75%; }

.ba-col-10 {
  width: 83.33333%; }

.ba-col-11 {
  width: 91.66667%; }

.ba-col-12 {
  width: 100%; }

@media screen and (min-width: 768px) {
  .ba-col-sm-12 {
    width: 100%; }
  .ba-col-sm-11 {
    width: 91.66%; }
  .ba-col-sm-10 {
    width: 83.3%; }
  .ba-col-sm-9 {
    width: 74.97%; }
  .ba-col-sm-8 {
    width: 66.62%; }
  .ba-col-sm-7 {
    width: 58.3%; }
  .ba-col-sm-6 {
    width: 50%; }
  .ba-col-sm-5 {
    width: 41.65%; }
  .ba-col-sm-4 {
    width: 33.3%; }
  .ba-col-sm-3 {
    width: 24.98%; }
  .ba-col-sm-2 {
    width: 16.66%; }
  .ba-col-sm-1 {
    width: 8.33%; } }

@media screen and (min-width: 991px) {
  .ba-col-md-12 {
    width: 100%; }
  .ba-col-md-11 {
    width: 91.66%; }
  .ba-col-md-10 {
    width: 83.3%; }
  .ba-col-md-9 {
    width: 74.97%; }
  .ba-col-md-8 {
    width: 66.62%; }
  .ba-col-md-7 {
    width: 58.3%; }
  .ba-col-md-6 {
    width: 50%; }
  .ba-col-md-5 {
    width: 41.65%; }
  .ba-col-md-4 {
    width: 33.3%; }
  .ba-col-md-3 {
    width: 24.98%; }
  .ba-col-md-2 {
    width: 16.66%; }
  .ba-col-md-1 {
    width: 8.33%; }
  .hidden-md {
    display: none !important; } }

@media screen and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

/* ba-common */
.ba-text-center {
  text-align: center; }

.ba-text-left {
  text-align: left; }

.ba-text-right {
  text-align: right; }

.ba-text-justify {
  text-align: justify; }

* {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }

img {
  max-width: 100%;
  height: 100%;
  display: block; }

video {
  max-width: 100%;
  height: 100%;
  display: block; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  left: -999999px; }

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 100%; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.containerksi {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.rem {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.white {
  color: white; }

a {
  text-decoration: none; }

img {
  display: block; }

li {
  list-style: none; }

.logo {
  width: 6.25rem;
  height: 6.25rem; }

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.menu__nav {
  display: flex; }

.menu_nav-second {
  display: flex; }

.menu__items__second {
  margin-right: 1rem; }

.sub_menu {
  display: none; }

.menu__items:not(:last-child) {
  margin-right: 5rem; }

.bg1 {
  background-image: url(../model_S/model-s@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

#section__1 {
  height: 120vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.title_speed {
  font-size: 50px; }

.btn__for-Order {
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  justify-content: center;
  align-items: center; }

.title_big_sub {
  font-size: 2.18rem;
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize; }

.title_litle_sub {
  font-family: 'Public Sans', sans-serif;
  font-size: 13px; }

.sub__info {
  margin-top: 30rem; }

.box__sub__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem; }

.box__sub__right {
  border-right: 1px solid black; }

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem; }

.arrow__point {
  animation-name: fadeInDown;
  animation-iteration-count: infinite;
  animation-duration: 1s; }

#section__2 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.fullscreen-bg {
  overflow: hidden;
  z-index: -100;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 45%; }

.abso {
  position: absolute; }

.contant__bottom {
  position: relative; }

.container__s2 {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex; }

.title__menu {
  display: flex;
  position: absolute;
  z-index: 5;
  top: -151px; }

.title_sub_menu:not(:nth-child(1)) {
  border-left: 1px solid white; }

.sub__title__big {
  text-transform: capitalize;
  margin-left: 2rem;
  margin-right: 1rem;
  font-family: 'Times New Roman', Times, serif; }

.sub__title__little {
  font-size: large;
  margin-left: 1.5rem;
  margin-right: 1rem;
  font-family: 'Times New Roman', Times, serif; }

.b {
  background: #833ab4;
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%); }

.box__block_1 {
  margin-top: 2rem; }

.box__block_2 {
  display: flex;
  justify-content: space-between;
  margin-left: 1.5rem;
  margin-top: 40rem; }

.sliderS {
  display: flex;
  max-width: 1100px;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem; }

.bg_4 {
  background-image: url(../img/800512.jpg);
  background-repeat: no-repeat;
  background-size: contain; }

#section__4 {
  height: 120vh; }

.article {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  position: relative; }

.container_news {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .container_news_link {
    margin-bottom: 2rem; }

.title_News_big {
  color: whitesmoke;
  margin-top: 5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem; }
  .title_News_big:before {
    content: '';
    height: 2px;
    width: 200px;
    background-color: white;
    opacity: .8;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px; }

.title_News_little {
  color: whitesmoke;
  font-size: 1.5rem;
  letter-spacing: .4rem;
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic; }

.slide {
  background-color: whitesmoke;
  margin-right: 1rem;
  border-radius: 1px solid; }

.for_img {
  margin: 1rem;
  height: 207px; }

.post__title {
  font-family: "gothamBook", sans-serif;
  font-weight: bold;
  font-size: 1.375rem;
  margin-top: 30px;
  margin-left: 24px;
  margin-right: 70px;
  margin-bottom: 25px; }

.post__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  font-style: italic;
  margin-left: 24px;
  margin-right: 59px;
  margin-bottom: 39px; }

.post__author {
  display: flex;
  justify-content: space-between;
  margin: 1rem; }

.elon {
  border-radius: 50%; }

.elonText {
  color: #ffc12d; }

.info-time {
  color: skyblue; }

.slick-dots li.slick-active button:before {
  font-size: 10px;
  color: white; }

.slick-dots li button:before {
  font-size: 10px;
  color: white; }

#section__5 {
  background-image: url(../img/footer.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 120vh; }

@font-face {
  font-family: "gotham_mediumregular";
  src: url("../fonts/gotham_medium_regular.ttf") format("opentype"), url("../fonts/gotham_medium_regular.woff2") format("woff2"), url("../fonts/gotham_medium_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "gothambold1";
  src: url("../fonts/gothambold1.eot");
  src: local("gothambold1"), url("../fonts/gothambold1.woff") format("woff"), url("../fonts/gothambold1.ttf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "gothamBook";
  src: url("../fonts/gothamBook.eot");
  src: local("gothamBook"), url("../fonts/gothamBook.woff") format("woff"), url("../fonts/gothamBook.ttf") format("opentype");
  font-weight: normal;
  font-style: normal; }
