#section_general {
  max-width: 1920px;
  width: 100%;
  height: 120vh;
  background-image: url(../img/main_hero_homepage_desktop1080.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleZ(0.1); }

.general_name_cars {
  display: flex;
  justify-content: space-around;
  margin-top: 15rem; }

.sub_name_cars {
  color: azure;
  font-family: 'Roboto', "sans-serif";
  text-transform: capitalize;
  letter-spacing: 1px; }

.nav_dots {
  color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 50%; }
  .nav_dots_pages {
    margin-bottom: 1rem;
    font-family: 'Roboto', "sans-serif"; }

.remGen {
  margin-top: 25rem; }

#section2 {
  max-width: 1920px;
  width: 100%;
  height: 120vh;
  background-image: url(../img/homepage_energy_hero_desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.Title_article_S2 {
  text-align: center; }
  .Title_article_S2_big {
    text-transform: uppercase;
    font-family: 'Google Sans', "sans-serif";
    letter-spacing: 1rem;
    font-weight: 600;
    font-size: 3rem; }
  .Title_article_S2_little {
    font-family: 'Google Sans', "sans-serif";
    font-family: 'Google Sans', "sans-serif";
    font-size: 1rem;
    text-align: justify; }

.for_title {
  max-width: 400px;
  height: 100%;
  background-color: whitesmoke;
  border-radius: 10px;
  opacity: .8;
  border: 5px solid whitesmoke; }

.s2btn {
  display: flex;
  width: 240px;
  height: 50px;
  background-color: white;
  margin-top: 3rem;
  text-align: center;
  margin-left: 5rem;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 50px; }
  .s2btn_title {
    font-family: 'Roboto';
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1.3rem; }
  .s2btn:hover {
    background-color: #9C27B0;
    color: whitesmoke;
    border: white; }

.border {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  width: 100px;
  height: 30px;
  border-radius: 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
  color: white;
  z-index: 8; }

.border:hover:before, .border:hover:after {
  display: block;
  content: '';
  position: absolute;
  width: 100px;
  height: 30px;
  background: #FDA8CF;
  border-radius: 75px;
  z-index: -3;
  animation: 1s clockwise infinite; }

.border:hover:after {
  background: #FFEB3B;
  animation: 2s counterclockwise infinite;
  z-index: -2; }

.border:hover {
  box-shadow: 0 5px 35px 0px #9C27B0;
  background: white;
  color: black;
  z-index: 1; }

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0; }
  12% {
    top: -2px;
    left: 2px; }
  25% {
    top: 0;
    left: 5px; }
  37% {
    top: 2px;
    left: 2px; }
  50% {
    top: 5px;
    left: 0; }
  62% {
    top: 2px;
    left: -2px; }
  75% {
    top: 0;
    left: -5px; }
  87% {
    top: -2px;
    left: -2px; }
  100% {
    top: -5px;
    left: 0; } }

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0; }
  12% {
    top: -2px;
    right: 2px; }
  25% {
    top: 0;
    right: 5px; }
  37% {
    top: 2px;
    right: 2px; }
  50% {
    top: 5px;
    right: 0; }
  62% {
    top: 2px;
    right: -2px; }
  75% {
    top: 0;
    right: -5px; }
  87% {
    top: -2px;
    right: -2px; }
  100% {
    top: -5px;
    right: 0; } }

#section3 {
  max-width: 1920px;
  height: 100%; }
